mixin about
    .about#about
        .about__wrapper
            .container.container--lg
                .row
                    .col-xl-5.offset-xl-7.col-lg-6.offset-lg-6.col-md-10.offset-md-1.col-sm-10.offset-sm-1
                        .about__content
                            h1.about__title About Us
                            p.about__paragraph Abore Cahee magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                            p.about__paragraph Nim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
