.about {
    background-color: #00b5b5; 
    background-position: 24% 50%;
    background-repeat: no-repeat;

    @media screen and (max-width: 1499px) {
        background-position: 16% 50%;
    }

    @media screen and (max-width: 1199px) {
        background-size: 45%;
        background-position: 4% 50%;
    }

    @media screen and (max-width: 991px) {
        background-size: 45%;
        background-position: 50% 100%;
    }

    @media screen and (max-width: 765px) {
        background-size: 45%;
        background-position: 49% 94%;
    }

    @media screen and (max-width: 575px) {
       background-image: none;
    }

    &__wrapper {
        padding-top: 169px;
        padding-right: 65px;
        padding-bottom: 217px;

        @media screen and (max-width: 991px) {
            padding-top: 50px;
            padding-bottom: 326px;
            padding-right: 0px;
        }

        @media screen and (max-width: 575px) {
            padding-bottom: 100px;
        }
        
    }

    &__content {

        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }

    &__title {
        color: white;
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 14px;

        @media screen and (max-width:575px) {
            font-size: 48px;
            margin-bottom: 30px;  
        }
    }

    &__paragraph {
        color: white;
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 11px;
        line-height: 27px;
        margin-right: -34px;

        @media screen and (max-width:575px) {
            padding: 0 15px;
            margin-right: 0px
        }
    }

}

.no-webp .about {
    background-image: url(../img/about@x1.png);

    @media screen and (max-width: 575px) {
        background-image: none;
     }
}

.webp .about {
    background-image: url(../webp/about@x1.webp);
    
    @media screen and (max-width: 575px) {
        background-image: none;
     }
}