mixin contact
    .contact#contact
        .contact__main.lazyload
            .container
                    .row 
                        .col-12
                            .contact__top
                                h2.contact__title Contact
                                p.contact__subtitle For new projects, ideas, business or anything you'd like to discuss, contact with me!
                    +contact-form
