.btn {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    white-space: nowrap;
    padding: 20px 44px;
    font-size: 20px;
    font-weight: 300;

    &--blog {
        background-color: #f72b3b;
        padding: 17px 43px;
        margin-bottom: 0;
        margin-left: 1px;

        @media screen and (max-width: 1199px) {
            margin-left: 0;
        }

        &:hover {
            background-color: white;
            color: #f72b3b;
        }
    
    }
    &--home {
        background-color: #ff6033;
        padding: 16px 26px;
    
        &:hover {
            background-color: white;
            color: #ff6033;
        }
    }

    &--subscribe {
        background-color: #96b92c;
        padding: 16px 30px;
        border: none;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        margin-left: -2px;
        
        @media screen and (max-width: 1199px) {
            margin-left: 0;
        }

        &:hover {
            background-color: white;
            color: #96b92c;
            cursor: pointer;
        }
    }

    &--gallery {
        background-color: #5585a2;
        padding: 17px 42px;
        margin-left: -2px;

        @media screen and (max-width: 1199px) {
            margin-left: 0;
        }

        &:hover {
            background-color: white;
            color: #5585a2;
        }
    }
}