mixin panel-column
    .panel-column.d-flex.justify-content-lg-center.justify-content-md-start.justify-content-sm-center.justify-content-center
        .panel-column__wrapper.d-flex.flex-column
            a.panel-column__link(href="#")
                .panel-column__item.d-flex.justify-content-between
                    h3.panel-column__heading Online Shopping
                    .panel-column__icon-wrapper
                        svg.icons.icons--panel-column.panel-column__icon
                            use(xlink:href="#icon-cart")
            a.panel-column__link(href="#")
                .panel-column__item.d-flex.justify-content-between
                    h3.panel-column__heading Quality Product
                    .panel-column__icon-wrapper
                        svg.icons.icons--panel-column.panel-column__icon
                            use(xlink:href="#icon-hand")
            a.panel-column__link(href="#")
                .panel-column__item.d-flex.justify-content-between
                    h3.panel-column__heading Domestic &amp; International Delivery
                    .panel-column__icon-wrapper
                        svg.icons.icons--panel-column.panel-column__icon
                            use(xlink:href="#icon-planet")
            a.panel-column__link(href="#")
                .panel-column__item.d-flex.justify-content-between
                    h3.panel-column__heading.panel-column__heading--last Well Organized
                    .panel-column__icon-wrapper
                        svg.icons.icons--panel-column.panel-column__icon
                            use(xlink:href="#icon-carrot")
                    

