mixin contact-info
    .col-lg-5.offset-xl-1.col-12.order-lg-2.order-md-1.order-1
        .contact-info
            .contact-info__wrapper
                h3.contact-info__name ADDRESS
                a.contact-info__link(href="https://www.google.com/maps?q=Albuquerque", target="_blank")
                    p.contact-info__item 123 City name, Street, City, Country
                h3.contact-info__name EMAIL
                a.contact-info__link.contact-info__link--email(href="mailto:cahee@domain.com", target="_blank")
                    p.contact-info__item cahee@domain.com
                h3.contact-info__name PHONE
                a.contact-info__link(href="tel:+012-345-678", target="_blank")
                    p.contact-info__item +012 345 678